<div class="container">
  <h3 class="text-center text-primary pt-4 pb-3">Профиль врача</h3>
  <div class="pacient-card bg-primary-light d-flex flex-column align-items-center row">
    <div class="text-center">
      
    </div>
    <div class="m-auto">
      <div class="pacient-card-info bg-primary p-4 text-white m-3 row">
        <div class="d-flex flex-column">
          

          <%= render partial: "users/doctor_schedule", locals: { expert: @user.expert } %>

          
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<h3 class="text-center text-primary pt-4 pb-3">Оставленные мне комментарии</h3>

  <div class="m-2 d-flex-column">
   
     
  </div>

  <p class="text-center">Комментрии отсутствуют</p>

