<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-md-1">
      <div class="card card-pacient-first">
        <div class="card-body">
          <h4 class="text-center">Политика конфиденциальности Портала MEDHELPER</h4>
          <br>
          <h6><strong>Преамбула</strong></h6>
          <p>Пользуясь нашим веб-сайтом и его подсистемами, Вы доверяете нам свою информацию.</p>
          <p>Мы понимаем, что это большая ответственность, и прилагаем все усилия, чтобы защитить Ваши данные и дать Вам возможность управлять ими.</p>
          <p>В этой Политике конфиденциальности описано, какую информацию мы собираем, зачем мы это делаем и как Вы можете обновлять, экспортировать, удалять свои данные и управлять ими.</p>
          <br>
          <br>
          <h6><strong>1. Общие положения</strong></h6>
          <p>1.1. Эта Политика конфиденциальности определяет порядок получения, хранения, обработки, использования и раскрытия персональных данных пользователей, посетителей и всех заинтересованных лиц (далее вместе - Пользователи) веб-сайта https://medhelper.sytes.net/ (далее - Портал).</p>
          <p>1.2. Персональные данные Пользователей при регистрации, размещения, получения и передачи информации и документов, а также при использовании ими Портала для заказа услуг, получает владелец Портала.</p>
          <p>1.3. Пользователь, путем нажатия кнопки «Зарегистрироваться» / оформляя онлайн-заявку на Портале / обращаясь телефону в службу поддержки Портала, подтверждает о своем ознакомления с Политикой конфиденциальности и выражает свое полное согласие с его условиями.</p>
          <p>1.4. Пользователь не имеет права использовать Портал, если он не согласен с условиями настоящей Политики конфиденциальности.</p>
          <p>1.5. Пользователь дает свое однозначное согласие с условиями настоящей Политики конфиденциальности и предоставляет Обществу право на сбор, регистрацию, накопление, хранение, адаптирование, изменение, возобновление, использование и распространение (распространение, реализация, передача), обезличивание, уничтожение персональных данных пользователя, в том числе с использованием информационных (автоматизированных) систем на условиях настоящей Политики конфиденциальности. При этом, Пользователь освобождает Общество от обязанности отдельно сообщать о передаче его персональных данных до учреждений здравоохранения, получивших лицензию на осуществление деятельности по медицинской практике исключительно для получения пользователем, как субъектом персональных данных, медицинской помощи и / или медицинских услуг; органу, уполномоченному в соответствии с действующим законодательством Украины</p>
          <p>1.6. Пользователь несет полную ответственность за свои действия, совершаемые им на Портале, и действия лиц, которые совершаются от его имени с использованием его данных персональной идентификации.</p>
          <p>1.7. Пользователь признает, что в случае халатного отношения пользователя к безопасности и защите его персональных данных и данных авторизации, третьи лица могут получить несанкционированный доступ к учетной записи и персональных и других данных. Общество не несет ответственности за убытки, причиненные таким доступом.<p>
          <p>1.8. Достаточным сообщения о включении его данных в базу данных «Пользователи» Общество будет письмо-уведомление о его регистрации на Портале, оставленный на электронную почту пользователя, указанный при регистрации.</p>
          <p>1.9. Пользователь несет ответственность за достоверность, актуальность данных и содержание информации, публикуется им на Портале, в т.ч. после ее модерации. Общество имеет право осуществлять контроль за информацией, размещаемой Пользователем, и сообщать пользователю, разместивший информацию ненадлежащего содержания, о таких случаях.</p>
          <p>1.10. Общество вправе использовать персональные данные пользователя для осуществления электронной рассылки новых и специальных предложений, оформление заказов и услуг.</p>
          <br>
          <br>
          <h6><strong>2. Виды информации и персональных данных, которые могут собираться на Портале</strong></h6>
          <p>2.1. Имя, фамилия, отчество пользователя, его контактные данные (телефон, адрес электронной почты, мисцезнахождення (геолокация) IP-адрес, тип операционной системы, браузера, дату и время посещения сайта *; учетные данные (логин и пароль для доступа в Личный кабинет), открытые данные профилей в соцсетях, должность, специализация, наличие категорий и аттестации (для врачей), наличие статуса предпринимателя и его реквизиты, наличие лицензии на осуществление медицинской практики;</p>
          <p>* Такая информация может быть персональными данными только если она прямо позволяет идентифицировать пользователя.</p>
          <p>2.2. файлы Cookies для того, чтобы определить браузер пользователя и предоставить зависящие от этого сервисы, например хранения данных в корзине между посещениями Портала;</p>
          <p>2.3. информация о нарушениях Пользователем правил использования Портала, в том числе, в случае размещения Пользователем информации вредного и оскорбительного характера и другой некорректной информации;</p>
          <p>2.4. Вся информация собирается «как есть» и не меняется Обществом в процессе сбора данных.</p>
          <br>
          <br>
          <h6><strong>3. Цель использования информации и персональных данных Пользователей</strong></h6>
          <p>3.1. Информация о пользователе, в том числе персональные данные, используются Обществом исключительно с целью обеспечения реализации гражданско-правовых, налоговых и отношений в сфере бухгалтерского учета, выполнение договорных обязательств по оказанию услуг, для идентификации пользователя, с целью предоставления услуг, обработки платежей, отправки информации по почте, электронной почте, проведения расчетных операций, предоставления отчетности, ведения бухгалтерского и управленческого учета, улучшение качества предоставления услуг, осуществления маркетинговых исследований Общества, защиты прав и законных интересов пользователей и третьих лиц в соответствии с действующим законодательством Украины.</p>
          <p>3.2. Для идентификации пользователя для предоставления ему услуг на Портале (в т.ч. его доступа к пользованию Порталом) может быть использовано имя, фамилия, отчество, адрес электронной почты, пароль на Портале, учетные данные (логин и пароль для доступа в Личный кабинет), открытые данные профилей в соцсетях (для доступа к Порталу через учетные записи в соцсетях; фотографии пользователя (в случае их предоставления для использования в аккаунте) сведения о должности, специализацию, наличие категорий и аттестации (для врачей), наличие статуса предпринимателя и его реквизиты, наличие лицензии на осуществление медицинской практики.</p>
          <p>3.3. Контактная информация пользователя может быть использована в почтовых рассылках, например сообщениях о новостях Портала, акции или специальные предложения и тому подобное. Пользователь всегда может отказаться от проведения рассылки по его контактной информации в письменном сообщении или в соответствующем разделе Личного кабинета.</p>
          <p>3.4. Для осуществления переписки по поводу использования Портала и предоставления услуг может использоваться имя, фамилия, отчество пользователя, реквизиты пользователя, контактные телефоны, адрес электронной почты, адрес местонахождения пользователя.</p>
          <br>
          <br>
          <h6><strong>4. Основания и условия раскрытия информации и персональных данных Пользователей</strong></h6>
          <p>
            4.1. Компания не передает персональные данные Пользователей третьим лицам, за исключением случаев, предусмотренных ниже.<br>
            <br>
            4.2. Общество гарантирует защиту информации и персональных данных Пользователей от несанкционированного доступа. Персональные данные пользователей, включены в базу персональных данных, обрабатываемых на Портале автоматически, при этом их хранение осуществляется в обезличенном и / или зашифрованном виде, что исключает возможность идентифицировать личность. Защита обеспечивается невозможностью утечки, уничтожения и блокирования информации, нарушения целостности и режима доступа к информации, шифрование информации Пользователей для безопасного обмена данными на базе современных технологий и протоколов шифрования, наличием собственной комплексной системы защиты информации, аккредитованной на соответствие требованиям Государственной службы спецсвязи и защиты информации Украины, а также размещения всех пользовательских данных в облачных дата-центрах с аккредитованной КСЗИ,<br>
            <br>
            4.3. Раскрытие персональных данных без согласия пользователя или уполномоченного им лица допускается в случаях, определенных законом, и только в интересах национальной безопасности, экономического благосостояния и прав человека, в частности, но не ограничиваясь по обоснованным запросам государственных органов, имеющих право запрашивать и получать такие данные .<br>
            <br>
            4.4. Раскрытие персональных данных, в том числе передача таких данных третьим лицам возможна и будет осуществлена ​​исключительно с согласия пользователя. Такое согласие пользователя может быть проявлена ​​им во время непосредственного письменного обращения в Общество.<br>
            <br>
            4.5. Раскрытие персональных данных, в том числе передача таких данных третьим лицам без получения письменного согласия пользователя возможна только в исключительных случаях, прямо предусмотренных требованиями действующего законодательства Украины.<br>
          </p>
          <h6><strong>5. Порядок изменения и / или удаления информации Пользователей</strong></h6>
          <p>5.1. Пользователи в любой момент времени могут изменить / удалить личную информацию или отказаться от рассылки, для этого достаточно воспользоваться настройками личного кабинета. Работа Портала по предоставлению услуг Пользователю может быть приостановлена ​​с момента изменения / удаления информации пользователя.</p>
          <p>5.2. Достаточным сообщения об удалении или иной обработки его персональных данных будет письмо (информация), направленный на электронную почту, указанную Пользователем при регистрации на Портале.</p>
          <br>
          <br>
          <h6><strong>6. Изменения в Политике конфиденциальности</strong></h6>
          <p>6.1. Общество может изменить условия Политики конфиденциальности путем внесения изменений на Портале.</p>
          <p>6.2. Пользователи обязуются периодически просматривать эти условия, чтобы быть информированными о том, как Общество защищает информацию о Пользователей на Портале.</p>
          <p>6.3. Общество не несет ответственности за ущерб или убытки, понесенные Пользователь или третьи лица в результате ошибочного понимания или непонимания условий этой Политики конфиденциальности относительно порядка размещения данных и других технических вопросов.</p>
          <br>
          <br>
          <h6><strong>7. Права Пользователей</strong></h6>
          <p>
            данных имеет следующие права в соответствии ст.8 Закона Украины «О защите персональных данных»
            <br>
            - знать об источниках сбора, местонахождение своих персональных данных, цели их обработки, местонахождение или место жительства (пребывания) владельца или распорядителя персональных данных или дать соответствующее поручение о получении этой информации уполномоченным им лицам, кроме случаев, установленных законом;
            <br>

             - получать информацию об условиях предоставления доступа к персональным данным, включая информацию о третьих лицах, которым передаются его персональные данные;
<br>
- на доступ к своим персональным данным;
<br>
- получать не позднее чем за тридцать календарных дней со дня поступления запроса, кроме случаев, предусмотренных законом, ответ о том, обрабатываются его персональные данные, а также получать содержание таких персональных данных;
<br>
- предъявлять мотивированное требование владельцу персональных данных с возражением против обработки своих персональных данных;
<br>
- предъявлять мотивированное требование об изменении или уничтожение своих персональных данных любым владельцем и распорядителем персональных данных, если эти данные обрабатываются незаконно или являются недостоверными;
<br>
- на защиту своих персональных данных от незаконной обработки и случайной потери, уничтожения, повреждения в связи с умышленным сокрытием, непредоставлением или несвоевременным их предоставлением, а также на защиту от предоставления сведений, енедостовирнимы или порочащих честь, достоинство и деловую репутацию физического лица ;
<br>
- обращаться с жалобами на обработку своих персональных данных к Уполномоченному Верховной Рады по правам человека или в суд;
<br>
- применять средства правовой защиты в случае нарушения законодательства о защите персональных данных;
<br>
- вносить оговорки об ограничении права на обработку своих персональных данных при предоставлении согласия;
<br>
- отозвать согласие на обработку персональных данных;
<br>
- знать механизм автоматической обработки персональных данных;
<br>
- на защиту от автоматизированного решения, которое имеет для него правовые последствия.
          </p>
          <br>
          <br>
          <h6><strong>8. Другие условия</strong></h6>
          <p>8.1. В случае, если какое-либо положение Политики конфиденциальности, включая любое предложение, пункт или их часть, признается противоречащим закону, или недействительным, то другие положения, не противоречащие закону, остаются в силе и являются действительными, а какие -которое недействительное положение, или положение, которое не может быть выполнено, считается измененным, исправленным в той мере, в какой это необходимо для обеспечения его действительности и возможности выполнения.</p>
          <p>8.2. Пользователь вправе предусмотренные Законом Украины «О защите персональных данных».</p>
          <p>8.3. Данная Политика конфиденциальности распространяется на Пользователя с момента, когда Пользователь согласился с условиями данной Политики конфиденциальности на Портале.</p>
          <br>
          <br>
          <h6><strong>9. Контактные данные Общества</strong></h6>
          <p>9.1. В случае возникновения вопросов, пожеланий, жалоб и т.д., просим обращаться по email: support@gmail.com</p>

        </div>
      </div>
    </div>
  </div>
</div>
