// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pacient-card{
  border-radius: 50px;
  &-info {
    border-radius: 20px;
  }
  p {
    overflow: hidden
  }
}